.PrimaryButton {
  font-family: 'Quicksand', sans-serif;
  background-color: #f9a109;
  border: 1px solid #f9a109;
  border-radius: 5px;
  padding: 10px;
  min-width: 100px;
  text-align: center;
  color: white;
  font-size: 16px;
}
