.NoProductSelected {
  background-color: #fff0de;
  display: grid;
  height: 100vh;
  padding: 0 40px;
  grid-template-rows: auto 1fr auto;
}
.NoProductSelected-card {
  background-color: #80485b;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 35px;
  height: max-content;
  border-radius: 5px;
}
.NoProductSelected-card p {
  color: #ffffff;
  padding: 0 20px;
  text-align: center;
}
.NoProductSelected-image {
  display: flex;
  justify-content: center;
}

.NoProductSelected-cards {
  margin-top: 30px;
  height: 60vh;
  overflow: scroll;
  padding: 1px;
}
