.BottomMobileNav {
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
.BottomMobileNav-profilePic {
  background-color: #c4c4c4;
  border-radius: 50%;
  padding: 5px;
}
.BottomMobileNav-asideDiv {
  margin: 0 5px;
}
