.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.Nav-home a {
  font-size: 2.4rem;
  text-decoration: none;
  color: black;
}
.Nav-registerLink {
  font-size: 1.6rem;
  color: #2f80ed;
}
.Nav-actions {
  width: 60px;
}
.Nav-actions-cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: black;
}
.Nav-actions-cart p {
  font-size: 1.6rem;
}
