.Pay-options {
  margin: 0 10px;
  grid-column: 1 / 3;
}
.Pay-options h1 {
  font-size: 2rem;
}

.Pay-options-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
