.RegisterForm {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}
.RegisterForm-title {
  font-weight: 500;
  color: #454545;
  text-align: center;
  margin: 0;
}
.RegisterForm-submit {
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .RegisterForm {
    padding: 20px 25%;
  }
}
