.CartCard {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: auto auto auto;
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
.CartCard-img {
  /* width: 40%; */
  display: flex;
  justify-content: center;
}
.CartCard-img img {
  width: 100px;
  height: 90px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}
.CartCard-text {
  height: 100%;
}
.CartCard-text h2 {
  font-size: 16px;
  margin: 10px 0 0 0;
}
.CartCard-text p {
  font-size: 12px;
  margin: 0;
}
.CardCard-remove {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: -50px;
  right: 10px;
  height: 30px;
}
.CardCard-remove button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: #d32626;
  border: none;
  border-radius: 5px;
}
